{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}About{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h2>About the Developer</h2>
    </div>
    <div class="container">
       
            
            <img src = "..\static\akash.jpg" style="height:200px">
            <br><br>
            <div class="text" style="font: size 20;">
            <h4>
            Akash Anand is a student in the department of Engineering Design at IIT Madras.
            He has been coding since the age of 10.
            He is the primary educator in Intellitrak’s foray into helping underprivileged kids and various community programs.
            <br><br>
            This site was developed using Python-Flask, HTML and CSS and is powered by Python libraries NumPy and pandas.
            <br><br>
            All data from official statistics published by the Joint Seat Allocation Authority,
            </h4>
        </div>
        
    </div>
{% endblock %}