<!DOCTYPE html>
<head>
    <title>JOSAA Analysis Tools</title>
    <link rel="icon" href="icon.png" type="image/gif" sizes="16x16">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="jumbotron text-center">
      <h1>JOSAA Opening and Closing Rank Analysis Tools</h1>
      <p>Welcome</p> 
    </div>
      
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
            <a href="http://josaa-analysis.herokuapp.com"><h3>JEE Advanced</h3></a>
          <p>Click on the link above to view opening and closing ranks of the IITs.</p>
          
        </div>
        <div class="col-sm-6">
          <a href="http://josaa-analysis-jeemain.herokuapp.com"><h3>JEE Main</h3></a>
        <p>Click on the link above to view opening and closing ranks of the NITs, IIITs and GFTIs.</p>
        
      </div>
        
      </div>
    </div>
    <hr>
    <div class="text-right" style="margin:20;">
        <a style="padding-right: 20px;" href="http://www.intellitrak.in">intellitrak.in</a>
    </div>
    </hr>
    
    </body>
    </html>

</html>